/* .card-title{
    text-align: center;
}

.abt{
    padding: 50px;
    
}
.carddd1{
    border-radius: 30px;
    background-image: linear-gradient(rgb(51, 51, 182),white);
}


@media screen  and (max-width: 1900px){
    .nn{
        margin-left: 25%;
        width: 50%;
    }
}
@media screen  and (min-width: 1700px){
    .nn{
        margin-left: 20%;
         width: 60%;
    }
    cc1
    .cc1{
        height:400px;
        width: 50%;
        margin-left: 25%;
        border: 2px solid;
        margin-top: 10px;
        border-radius: 25px;
        
    }
}

@media screen  and (max-width: 1200px){
    .nn{
        margin-left: 20%;
        
         width: 60%;
         
    }
}


@media screen  and (max-width: 992px){
    .nn{
        margin-left: 20%;
       
         width: 60%;
         
    }
}

@media screen  and (max-width: 768px){
    .nn{
        margin-left: 20%;
       
         width: 60%;
         
    }
}



@media screen  and (max-width: 576px){
.cc1{
    height: 300px;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    
}
} */