.b1{
  background-color: lightseagreen !important;
}
.nav-link{
    font-size: 20px;
    font-weight: bold;
    color: rgb(255, 255, 255) !important;
    
}
.navbar-brand{
    font-size: 20px;
    font-weight: bold;
    color: rgb(238, 238, 238) !important;
    
}
.off{
    color: rgb(228, 0, 0) !important;
}

/* .nav-link li :hover{
   color: rgb(0, 0, 0);
} */

/* CSS for adding a bottom border to list items on hover */
.navbar-nav li.nav-item:hover {
    border-bottom: 2px solid #007bff; /* Change the color to your preferred hover color */
  }
  
  /* Remove the default list item decoration */
  .navbar-nav li.nav-item {
    list-style: none;
    padding: 0;
  }
  
  /* Style for the anchor tags inside list items */
  .navbar-nav li.nav-item a.nav-link {
    text-decoration: none; /* Remove underline from links */
    color: #ebebeb; /* Set the default link color */
  }
  
  /* Style for the active link */
  .navbar-nav li.nav-item.active a.nav-link {
  
    color: #f90000; /* Set the active link color */
  }
  

.lll{
    border: 2px solid;
}